<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <connectionStrings>
        <add name="PrimaDoctor" connectionString="Server=db.polarlooptheory.pl;Port=3306;Database=primadoctor;Uid=studia;Pwd=Studia2020;charset=utf8;" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
</configuration>