<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.6.1" targetFramework="net48" />
  <package id="CsvHelper" version="17.0.1" targetFramework="net48" />
  <package id="FSharp.Core" version="5.0.0" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.14.0" targetFramework="net48" />
  <package id="JetBrains.Annotations" version="2020.3.0" targetFramework="net48" />
  <package id="K4os.Compression.LZ4" version="1.2.6" targetFramework="net48" />
  <package id="K4os.Compression.LZ4.Streams" version="1.2.6" targetFramework="net48" />
  <package id="K4os.Hash.xxHash" version="1.0.6" targetFramework="net48" />
  <package id="Keras.NET" version="3.7.4.4" targetFramework="net48" />
  <package id="linq2db" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="MySql.Data" version="8.0.22" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="Numpy.Bare" version="3.7.1.25" targetFramework="net48" />
  <package id="NumSharp" version="0.20.5" targetFramework="net48" />
  <package id="NUnit" version="2.6.2" targetFramework="net48" />
  <package id="pythonnet_netstandard_py37_win" version="2.5.1" targetFramework="net48" />
  <package id="pythonnet_netstandard_py38_win" version="2.5.1" targetFramework="net48" />
  <package id="SharpZipLib.NETStandard" version="1.0.7" targetFramework="net48" />
  <package id="SixLabors.ImageSharp" version="1.0.2" targetFramework="net48" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
</packages>